@model IEnumerable<WebDooreme.Models.ReferansTable>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="main-content">
    <div class="row page-header no-background no-shadow margin-b-0">
        <div class="col-lg-6 align-self-center ">
            <h2></h2>
            <ol class="breadcrumb">
            </ol>
        </div>
       
        <div class="col-lg-6 align-self-center text-right">
           <a class="btn btn-success box-shadow btn-icon btn-rounded" asp-action="Create"><i class="fa fa-plus"></i>Yeni Yazı Ekle</></a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable" class="table table-striped dt-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Firma
                                </th>
                                <th>
                                   il
                                   </th>
                                <th>
                                    ilçe
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Province)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.District)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Düzenle</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
