<div class="slider-brands clearfix" style="border-radius: 27px 45px 27px 28px">
    <div class="yt-content-slider contentslider" data-rtl="no" data-loop="yes" data-autoplay="yes" data-autoheight="yes" data-autowidth="yes" data-delay="1" data-speed="0.6" data-margin="0" data-items_column0="7" data-items_column1="6" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/1.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/2.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/3.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/4.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/5.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <ahref ="@Url.Action("References","Home")"><img src="~/image/catalog/brands/6.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></ahref>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/7.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/8.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/9.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/10.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/11.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/12.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/13.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/14.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/15.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/16.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/17.png" title="Doorema Slider Banner" ref="Doorema Slider Banner"  alt="referanslar doorema.com.tr"></a>
        </div>
        <div class="item">
            <a href="@Url.Action("References","Home")"><img src="~/image/catalog/brands/18.png" title="Doorema Slider Banner" ref="Doorema Slider Banner" alt="referanslar doorema.com.tr"></a>
        </div>
    </div>
</div>