@model List<Product>
@using WebDooreme.Helpers
<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 box-left">
    <!-- Deals -->
    <div class="module deals-layout4" style="border-radius: 27px 45px 27px 28px ">
        <h3 title="Doorema Proje Kapıları" ref="Doorema Proje Kapıları" alt="Proje Çelik Kapıları" class="modtitle"><span title="Doorema Günün Fırsatları" ref="Doorema Günün Fırsatları" alt="Günün Fırsatları">Günün Fırsatları</span></h3>
        <div class="modcontent">
            <div class="so-deal style2">
                @*<div class="extraslider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">*@
                <div class="yt-content-slider extraslider-inner products-list" data-rtl="yes" data-pagination="no" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="6" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-lazyload="yes" data-loop="no" data-buttonpage="top">
                    @foreach (var item in Model.Where(m => m.CategoryId == 8))
                    {
                        <div class="item product-layout product-grid2">
                            <div class="product-thumb transition product-item-container">
                                <div class="left-block">
                                    <div class="product-image-container">
                                        <div class="image">
                                            @*<div class="box-label">
                                        <span class="label label-sale"></span>
                                        <span class="label label-sale">-13%</span>
                                    </div>*@
                                            @{
                                                var imageSrcm = item.StockCode.ToLower();
                                                var strImagem = imageSrcm + ".jpg";
                                            }
                                            <a href="#" target="_self" title="product">
                                                <img src="~/ProductImages/ProductL/@strImagem" height="287" width="210" title="Doorema Günün Fırsatları @item.ProductName" ref="Doorema Günün Fırsatları @item.ProductName" alt="@item.ProductName" class="img-responsive">
                                            </a>
                                        </div>
                                        <!--quickview-->
                                        <div class="so-quickview">
                                            <a class="btn-button quickview quickview_handler visible-lg" href="/urun/detay/@UrlExtension.FriendlyUrl(Url,item.ProductName)/@item.StockCode" title="Doorema Günün Fırsatları @item.ProductName" ref="Doorema Günün Fırsatları @item.ProductName" alt="@item.ProductName"  data-fancybox-type="iframe">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                        <!--end quickview-->
                                    </div>
                                </div>
                                @*<div class="right-block">
                        <div class="caption">
                            <h4><a href="#" target="_self" title="Lastrami deserunt">@item.StockCode</a></h4>
                            <p class="desc">@item.Description</p>
                            <p class="price">
                            </p>
                           <div class="button-group">
                                <button class="addToCart" title="Add to Cart" type="button" onclick="cart.add('69');">
                                    <i class="fa fa-shopping-cart"></i>  <span>Add to Cart</span>
                                </button>
                                <button class="btn-button wishlist" type="button" title="Add to Wish List" onclick="wishlist.add('69');">
                                    <i class="fa fa-heart"></i><span>Add to Wish List</span>
                                </button>
                                <button class="btn-button compare" type="button" title="Compare this Product" onclick="compare.add('69');">
                                    <i class="fa fa-refresh"></i><span>Compare this Product</span>
                                </button>
                            </div>*@
                                <!--countdown box-->
                                @*<div class="item-time-w">
                            <div class="item-time">
                                <div class="item-timer">
                                    <div class="defaultCountdown-30"></div>
                                </div>
                            </div>
                        </div>
                                                <!--end countdown box-->
                                            </div>
                                                </div>*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Deals -->
</div>