@model WebDooreme.Models.Institutional
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Details</h1>
<div>
    <h4>Institutional</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tİtle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tİtle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.İmages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.İmages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Açıklama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Açıklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>