@model IEnumerable<WebDooreme.Models.Institutional>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="main-content">
    <div class="row page-header no-background no-shadow margin-b-0">
        <div class="col-lg-6 align-self-center ">
            <h2></h2>
            <ol class="breadcrumb">
            </ol>
        </div>
        <div class="col-lg-6 align-self-center text-right">
            <a class="btn btn-success box-shadow btn-icon btn-rounded" asp-action="Create">Yeni Yazı Ekle</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tİtle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.İmages)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Açıklama)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tİtle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.İmages)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Açıklama)
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-rounded box-shadow" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                                        <a class="btn btn-danger btn-rounded box-shadow" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>