@model List<Product>
@{
    int selectedCategory = ViewBag.selectedCategory;

}
@using WebDooreme.Helpers

<body style="background-color:white">

    <div id="content" class="col-md-12 col-sm-8">
        <div class="products-category">
            <div class="products-list row nopadding-xs so-filter-gird grid">
                <h1 class="title-category" style=" margin-left:20px;color:red"><b>@ViewBag.CategoryName</b></h1>
                <div class="category-derc">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banners">
                                @if (selectedCategory == 8)
                                {
                                    <div>
                                        <a href="/urun/ana-kategori/proje-celik-kapilari/8"><img src="~/ProductImages/ProductListBanner/ProjeCelikKapiBanner.jpg" title="Proje Çelik Kapılar" ref="Proje Çelik Kapılar" alt="Proje Çelik Kapılar"><br></a>
                                    </div>

                                }
                                @if (selectedCategory == 1)
                                {
                                    <div>
                                        <a href="/urun/ana-kategori/klasik-ve-modern-celik-kapilar/1"><img src="~/ProductImages/ProductListBanner/KlasikVeModernCelikKapiBanner.jpg" ref="Proje Çelik Kapılar" alt="Klasik Ve Modern Çelik Kapılar" title="Klasik Ve Modern Çelik Kapılar"><br></a>
                                    </div>

                                }
                                @if (selectedCategory == 10)
                                {
                                    <div>
                                        <a href="/urun/ana-kategori/villa-ve-bina-giris-kapilari/10"><img src="~/ProductImages/ProductListBanner/VillaVeBinaGirisBanner.jpg" alt="Villa Ve Bina Giriş Kapıları" title="Villa Ve Bina Giriş Kapıları"><br></a>
                                    </div>

                                }
                                @if (selectedCategory == 16)
                                {
                                    <div>
                                        <a href="/urun/ana-kategori/klasik-ve-modern-celik-kapilar/1"><img src="~/ProductImages/ProductListBanner/YanginKapisiBanner.jpg" alt="Yangın Kapıları" title="Yangın Kapıları"><br></a>
                                    </div>

                                }


                            </div>

                        </div>
                    </div>
                </div>
                @* <div class="product-filter product-filter-top filters-panel">
                <div class="row">
                <div class="col-md-5 col-sm-3 col-xs-12 view-mode">

                <div class="list-view">
                <button class="btn btn-default grid active" data-view="grid" data-toggle="tooltip" data-original-title="Grid"><i class="fa fa-th"></i></button>
                <button class="btn btn-default list" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button>
                </div>

                </div>

                </div>
                </div>*@

                <div class="product-filter product-filter-top filters-panel">
                    <div class="row">
                        <div class="col-sm-5 view-mode">

                            <div class="list-view">
                                <button class="btn btn-default grid" data-view="grid" data-toggle="tooltip" data-original-title="Grid"><i class="fa fa-th"></i></button>
                                <button class="btn btn-default list active" data-view="list" data-toggle="tooltip" data-original-title="List"><i class="fa fa-th-list"></i></button>
                            </div>

                        </div>
                        <!-- <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                            <ul class="pagination">
                                <li class="active"><span>1</span></li>
                                <li><a href="">2</a></li><li><a href="">&gt;</a></li>
                                <li><a href="">&gt;|</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>

                @foreach (var item in Model)
                {
                    <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                        <div class="product-item-container" style="background-color:whitesmoke; border-radius:1px;">
                            <div class="left-block">
                                <div class="product-image-container second_img">
                                    <a href="/urun/detay/@UrlExtension.FriendlyUrl(Url,item.StockCode)/@item.StockCode" target="_self" title="@item.StockCode">
                                        @{
                                            var imageSrcm = item.StockCode.ToLower();
                                            var strImagem = imageSrcm + ".jpg";
                                        }
                                        @if (selectedCategory == 16)
                                        {
                                            <img src="~/ProductImages/ProductL/@strImagem" width="168" height="133" class="img-1 img-responsive" alt="@item.StockCode">
                                            <img src="~/ProductImages/ProductL/@strImagem" width="168" height="133" class="img-2 img-responsive" alt="@item.StockCode">

                                        }
                                        else
                                        {
                                            <img src="~/ProductImages/ProductL/@strImagem" class="img-1 img-responsive" alt="@item.StockCode">
                                            <img src="~/ProductImages/ProductL/@strImagem" class="img-2 img-responsive" alt="@item.StockCode">
                                        }
                                    </a>
                                </div>
                                @if (item.InstallmentTable == null)
                                {
                                    <div> <span>@item.InstallmentTable</span></div>

                                }
                                else
                                {
                                    <div class="box-label"> <span class="label-product label-sale">@item.InstallmentTable</span></div>
                                }
                                <div class="box-label"> <span class="label-product"> </span></div>
                                <div class="button-group so-quickview cartinfo--left">
                                    <button type="button" class="wishlist btn-button" title="Ürünü Beğen" onclick="wishlist.add('60000');">
                                        <i class="fa fa-heart"></i><span>Ürünü Beğen </span>
                                    </button>
                                    @* <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');">
                                <i class="fa fa-refresh"></i><span>Compare this Product</span>
                                </button>*@
                                    <!--quickview-->
                                    <a class="btn-button quickview quickview_handler visible-lg" href="/urun/detay/@UrlExtension.FriendlyUrl(Url,item.StockCode)/@item.StockCode" title="@item.StockCode.ToUpper()" data-fancybox-type="iframe"><i class="fa fa-eye"></i><span>Detay</span></a>
                                    <!--end quickview-->
                                </div>
                            </div>
                            <div class="right-block">
                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                    </div>
                                    <h4 style="font-weight:600;text-transform:uppercase"><a href="/urun/detay/@UrlExtension.FriendlyUrl(Url,item.StockCode)/@item.StockCode" title="@item.ProductName" target="_self"></a></h4>
                                    <div class="price">
                                        <span class="price-new">@item.StockCode.ToUpper()</span>
                                    </div>

                                    <div class="list-block" style="font-size:15px; font-weight:700; text-transform:uppercase">
                                        <a href="/urun/detay/@UrlExtension.FriendlyUrl(Url,item.StockCode)/@item.StockCode" target="_self" title="@item.StockCode">
                                            <button class="addToCart btn-button btn btn-danger" type="button" title="@item.StockCode">
                                                ÜRÜN DETAYI
                                            </button>
                                        </a>
                                        <button class="wishlist btn-button btn btn-danger" type="button" title="Beğen" onclick="wishlist.add('101');">
                                            <i class="fa fa-heart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</body>